body {
  width: 100vw;
  /* height: 100vh; */
  /* background: #151515; */
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-container {
  width: 100%;
  height: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 375px) {
    height: 200px;
  }
  @media (min-width: 376px) and (max-width: 639px) {
    height: 300px;
  }

  @media (min-width: 640px) and (max-width: 767px) {
    height: 400px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    height: 500px;
  }

  @media (min-width: 1024px) and (max-width: 1279px) {
    height: 600px;
  }

  @media (min-width: 1280px) and (max-width: 1535px) {
    height: 800px;
  }

  @media (min-width: 1536px) {
    height: 1000px;
  }
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}
.editorialImg {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  z-index: 1;
}

.refresh {
  padding: 10px;
  /* position: absolute; */
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
